backend:
  message: hello
  item: item
  clientApp:
    name: 'server'
  database:
    populator-path: db/tables.sql
  mail:
    base-url: http://127.0.0.1:8080
    from: backend-r2dbc-jwt@localhost
    password: password
    enabled: true
    host: smtp.gmail.com
    port: 587
    property:
      debug: true
      transport:
        protocol: smtp
      smtp:
        auth: true
        starttls:
          enable: true

  security:
    authentication:
      jwt:
        secret: secret
        base64-secret: MjNlZmQzMzgwM2MzN2FmMGNhZTY3NDllMDJiODg2YWRlMmY0ZDUzMzg2ODI4MTgxNmIxNzQ1OGEzMmNmNjY2OTA3Nzk4MzRkNDUzZWFlMTljZjJmNDU5NDNjOWI3NjRhNDg3MGYzODhiYjVjZWU5MmNhMDA2MDU3ZjA2NjJhODE=
        token-validity-in-seconds: 86400
        token-validity-in-seconds-for-remember-me: 2592000
  cors:
    allowed-origins: '*'
    allowed-methods: '*'
    allowed-headers: '*'
    exposed-headers: 'Authorization,Link,X-Total-Count'
    allow-credentials: true
    max-age: 1800
server:
  port: 8080
spring:
  application:
    name: server
  profiles:
    default: dev
  datasource:
    driver-class-name: org.h2.Driver
    url: r2dbc:h2:file://././build/h2db/db/backend;MODE=PostgreSQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1
    username: sa
    password: sa
  devtools:
    restart:
      enabled: true
  thymeleaf:
    mode: HTML
  messages:
    basename: i18n/messages
    encoding: UTF-8
logging:
  level:
    org:
      springframework:
        r2dbc: INFO
        org.hibernate.SQL: INFO